.HomePage {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.HomePage > div:hover {
    cursor: pointer;
    
}